.autojump/
.config/obs-studio
max/
.Xauthority
*.tmp
.bash_history
.cache/
.dbus/
.dmrc
.dotnet/
.gitconfig
.gnupg/
.gtkrc-2.0
.gtkrc-xfce
.icons/
.java/
.jdks/
.lemminx/
.lesshst
.linuxmint/
.local
.mozilla/
.pki/
.python_history
.rbql_table_index
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.texlive2023/
.thinderbirf/
.wget-hsts
.xinputrc
.xsession-errors
.xsession-errors.old
.zoom/
Documents/
Downloads/
Pictures/
easyroam_client_cert.pem
godotProjects.zip
godotProjects/
idea-IU-242.23339.11/
linux/
max.zip
texput.log
why/
.thunderbird/
.vscode/
.vim/
.viminfo
.vimrc
.var/
#git ignore
.config/caja
.config/cinnamon
.config/cinnamon-monitors.xml
.config/cinnamon-motiors.xml~
.config/cinnamon-session
.config/cinnamon-sesion
.config/Code
.config/dconf
.config/enchant
.config/evolution
.config/github-copilot
.config/GitHub-Desktop
.config/glib-2.0
.config/goa-1.0
.config/godot
.config/gtk-3.0
.config/htop
.config/ibus
.config/JetBrains
.config/libreoffice
.config/menus
.config/nemo
.config/neofetch
.config/octave
.config/pix
.config/pulse
.config/qt5ct
.config/*.list
.config/*.conf
.config/*.locale
.config/*.dirs
.config/spotify
.config/touchegg
.config/UnknownOrganization
.config/.vim
.config/vim
.config/vlc
.config/xed
.config/xviewer
posh-themes
.fehbg
.config/GIMP/
.config/GitHub Desktop/

